<div class="container-fluid white">

<div class="center pick-teams">
  <div class="row">
    <br>
    <br>

    <div class="row">

      <div class="choose-team">
        <div class="select-red card-button col-xs-4">
          <%= image_tag('cards/red_team.png', class: 'select-red')%>
        </div>
        <div class="card-choose col-xs-4">
          <div class="front">
            <%= image_tag('chess_logo_minimal.png')%>
          </div>
          <div class="back">
            <%= image_tag('cards/choose.png')%>
          </div>
        </div>
        <div class="select-blue card-button col-xs-4">
          <%= image_tag('cards/blue_team.png', class: 'select-blue')%>
        </div>
        <div class=" them">
          <div class="them-blue them-card">
            <%= image_tag('cards/blue_them.png')%>
          </div>
          <div class="them-red them-card">
            <%= image_tag('cards/red_them.png')%>
          </div>
        </div>
      </div>
    </div>

    <div class="selections row">
      <div class="new link-card col-xs-12 clipboard" data-clipboard-target="#link-field">
        <%= image_tag('cards/link.png', class: 'link-card-img')%>
        <div class="copied-back">
          <%= image_tag('cards/copied.png')%>
        </div>
      </div>
    </div>
    <div class="link-container">
      <input id="link-field" value="Link Text" readonly="readonly">
    </div>

    <div class="begin-card">
        <%= image_tag('cards/begin.png')%>
    </div>

    <div class="begin-card2">
        <%= image_tag('cards/share.png')%>
    </div>
  </div>


</div>
