<div class="container-fluid">

<div class="center">
  <div class="cards-container">
    <div class="cards row">
      <div class="logo minimal">
        <%= image_tag('chess_logo_minimal.png')%>
      </div>
      <div class="my-card red-team-card">
        <%= image_tag('cards/red_team.png')%>
      </div>
      <div class="my-card blue-team-card">
        <%= image_tag('cards/blue_team.png')%>
      </div>
      <div class="my-card idle-card red-idle-card">
        <%= image_tag('cards/red_idle.png')%>
        <div class="invite my-card back">
          <%= image_tag('cards/link.png')%>
        </div>
      </div>
      <div class="my-card idle-card blue-idle-card">
        <%= image_tag('cards/blue_idle.png')%>
        <div class="invite my-card back">
          <%= image_tag('cards/link.png')%>
        </div>
      </div>
      <div class="my-card red-check-card">
        <%= image_tag('cards/red_check.png')%>
      </div>
      <div class="my-card blue-check-card">
        <%= image_tag('cards/blue_check.png')%>
      </div>
      <div class="my-card red-turn-card turn-card">
        <%= image_tag('cards/red_turn.png')%>
      </div>
      <div class="my-card blue-turn-card turn-card">
        <%= image_tag('cards/blue_turn.png')%>
      </div>
    </div>
  </div>

  <div class="row">


    <div class="col-xs-12">
      <div class="board-container">
        <%= render partial: 'board'%>
      </div>
    </div>

    <div class="col-xs-12 graveyard-container">
        <%= render partial: 'graveyard'%>
    </div>

  </div>
  <%= form_for :move, url: 'move', remote: true, method: :post do |f| %>
  <%= f.hidden_field :from %>
  <%= f.hidden_field :to %>
  <%# <%= f.submit %>

  <% end %>

</div>

<div id="invite-modal">
  <div class="center">
    <div class="invite-box center">
      <div class="share-card">
        <%= image_tag('cards/share.png')%>
      </div>
      <div class="share-link center">
        <span class="background-black">
          <%= @link %>
        </span>
      </div>
    </div>
  </div>
</div>

<%= audio_tag "click_short.mp3", class: "audio-play" %>
<%= audio_tag "death.mp3", class: "death-audio" %>
<%= audio_tag "check.mp3", class: "check-audio" %>

</div>
